body{
    background-color: beige;
}


h1{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: initial;
}

.parrafo_color_{
    color: rgb(123, 95, 82);
}

h3{
    color: rosybrown;
    text-decoration: wavy;
    text-decoration: dotted;
}

.card{
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid;
    width: 300px;
    padding: 4px;
    margin: 10px;
}

.contenedor_padre{
    background-color:beige;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto ;
}

.contenedor_padre img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 740px){
    body{
        background-color:beige;
    }
    header{
        flex-direction: column;
        align-items: start;

    }

    h1{
        font-size: 25px;
    }
    li{
        display: block;
    }
}